<div class="div-pai">
    <div>
        <nav class="navFeed">
            <div>
                <a href="/" class="tituloface">facebookCopy</a>
            </div>
        </nav>
        <nav class="navIcons">
            <div>
                <a href="/"><i class='bx bx-home-alt'></i></a>
                <a href="/amigos"><i class='bx bx-user-plus  pageActive'></i></a>
                <a href="/newpost"><svg aria-label="Página inicial" class="x1lliihq x1n2onr6 x5n08af"
                        fill="currentColor" height="25" role="img" viewBox="0 0 24 24" width="25">
                        <path
                            d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2">
                        </path>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                    </svg></a>
                <a href="/notificacoes"><i class='bx bx-bell'></i></a>
                <a href="/minhaConta"><img class="minhaContaNav" src="data:image/png;base64,{{fotoPerfil}}"
                        alt="fot perfil"></a>
            </div>
        </nav>
        <div>
            <div class="pesquisa">
                <form action="/amigos/search" class="formPesq" method="post">
                    <input type="text" class="inputPesquisa" name="nome">
                    <input type="submit" id="inputP">
                    <label for="inputP"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                            viewBox="0 0 101 101" id="search" class="search">
                            <path
                                d="M63.3 59.9c3.8-4.6 6.2-10.5 6.2-17 0-14.6-11.9-26.5-26.5-26.5S16.5 28.3 16.5 42.9 28.4 69.4 43 69.4c6.4 0 12.4-2.3 17-6.2l20.6 20.6c.5.5 1.1.7 1.7.7.6 0 1.2-.2 1.7-.7.9-.9.9-2.5 0-3.4L63.3 59.9zm-20.4 4.7c-12 0-21.7-9.7-21.7-21.7s9.7-21.7 21.7-21.7 21.7 9.7 21.7 21.7-9.7 21.7-21.7 21.7z">
                            </path>
                        </svg>
                    </label>
                </form>
            </div>
            {{{aviso}}}
            {{#each Users}}
            <div class="amigosAdd">
                <div class="user">
                    <a href="/perfil/{{iduser}}" class="nomeperfil flex">
                        <img class="fotoPerfil" src="data:image/png;base64,{{this.foto_perfil}}" alt="foto perfil">
                        <p class="nameuser">{{this.username}}</p>
                    </a>
                    <form action="/seguir/{{iduser}}" class="formSeguir" method="post">
                        {{#unless isFollower}}
                        <button type="submit" class="btnSeguir1">Seguir</button>
                        {{else}}
                        <button type="submit" class="btnSeguindo1">Seguindo</button>
                        {{/unless}}
                    </form>
                </div>
            </div>
            {{/each}}
            <div class="msg">
                <p>{{msg}}</p>
            </div>
        </div>

    </div>
    <div>
        <div class="div-fim">
            <p>by Thurflecks</p>
            <p>Todos os direitos reservados para FACEBOOK</p>
        </div>
    </div>
</div>