<div class="div-pai">
    <div>
        <nav class="navFeed">
            <div>
                <a href="/" class="tituloface">facebookCopy</a>
            </div>
        </nav>
        <nav class="navIcons">
            <div>
                <a href="/"><i class='bx bx-home-alt'></i></a>
                <a href="/amigos"><i class='bx bx-user-plus'></i></a>
                <a href="/newpost"><svg aria-label="Página inicial" class="x1lliihq x1n2onr6 x5n08af"
                        fill="currentColor" height="25" role="img" viewBox="0 0 24 24" width="25">
                        <path
                            d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2">
                        </path>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                    </svg></a>
                <a href="/notificacoes"><i class='bx bx-bell'></i></a>
                <a href="/minhaConta"><img class="minhaContaNav minhacontaAtivate"
                        src="data:image/png;base64,{{fotoPerfil}}" alt="fot perfil"></a>
            </div>
        </nav>
        <div class="dadosConta">
            <form class="logout" action="/logout" method="POST">
                <button type="submit">logout</button>
            </form>
            <img class="fotoPerfilLogada" src="data:image/png;base64,{{fotoPerfil}}" alt="fot perfil">
            <p class="nomeContaLogada" name="nomeContaLogada">{{usuario.nome}}</p>
            <label for="" name="bioContaLogada" id="bioContaLogada">{{usuario.bio}}</label>
            <a href="/minhaConta/editarPerfil" class="botaoEditarConta">Editar Perfil</a>

        </div>
    </div>
    <div>
        {{#each postsConta}}
        <div class="post">
            <div class="post-header">
                <a href="#" class="nomeperfil">
                    <img class="fotoPerfil" src="data:image/png;base64,{{foto_perfil}}" alt="foto perfil">
                    <p>{{username}}</p>
                </a>
                <div class="post-actions">
                    <a href="/editPost/{{idpost}}" class="edit-btn">Editar</a>
                    <form action="/post/delete/{{idpost}}" method="POST"
                        onsubmit="return confirm('Tem certeza que deseja deletar este post?');">
                        <button type="submit" class="delete-btn">Deletar</button>
                    </form>
                </div>
            </div>
            <img class="imagemPost" src="data:image/png;base64,{{imagem}}" alt="conteudo post">
            <div class="div-actions">
                <form action="/enviarCurtida/{{idpost}}" class="likes" method="post">
                    <button><i
                            class='bx bx-heart btn-actions like-button {{#if isLiked}}liked bxs-heart{{/if}}'></i></button>
                </form>
                <span>{{likes}}</span>
                <a href="/addComment/{{idpost}}"><i class='bx bx-comment comment'></i></a>
                <span>{{comments}}</span>
            </div>
            <div class="content-inline">
                <h2>{{username}}</h2>
                <p>{{legenda}}</p>
            </div>
        </div>
        {{/each}}

    </div>
    <div>
        <div class="div-fim">
            <p>by Thurflecks</p>
            <p>Todos os direitos reservados para FACEBOOK</p>
        </div>
    </div>
</div>